<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-background-download" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>BackgroundDownload</name>
	<js-module src="www/Promise.js" name="Promise"/>
	<js-module name="BackgroundDownloader" src="www/BackgroundDownloader.js">
		<clobbers target="BackgroundTransfer.BackgroundDownloader"/>
	</js-module>
	<js-module name="DownloadOperation" src="www/DownloadOperation.js">
		<clobbers target="DownloadOperation"/>
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BackgroundDownload">
				<param name="android-package" value="org.apache.cordova.backgroundDownload.BackgroundDownload"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		</config-file>
		<source-file src="src/android/BackgroundDownload.java" target-dir="src/org/apache/cordova/backgroundDownload"/>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="BackgroundDownload">
				<param name="ios-package" value="BackgroundDownload"/>
			</feature>
		</config-file>
		<header-file src="src/ios/BackgroundDownload.h"/>
		<source-file src="src/ios/BackgroundDownload.m"/>
	</platform>
</plugin>